# <span style="color: Orange;"> Credit Card Transaction Analysis - PART 1: Credit  card company POV </span>

### *<span style= "color:gray;"> Thought process, Insights and Recommendations</span>*

### *Context* :  
 __Bank "ABC" had inaugurated offering their credit card facility on 1st Oct, 2013.__  
__They started collecting data on the credit card transaction details since then.__  
    
__Now, after nearly two years, they have a stakeholder meeting on June 1st 2015 to assess the situation regarding the growth in the credit card section.__  

__The data till now (latest data being 26th May 2015) needs to be analysed and <span style="color:green;">insights and recommendations needs to be presented to the stakeholders during their meeting so that they can take data-driven decision on how to proceed.__</span>

### Source of data:  
*Credit_card_transactions_India.csv*

### *<span style= "color:gray;"> STEP 1: Getting to know the data</span>*

<span style="font-size:14px;"> __Let's start with getting the look and feel of the data that we need to work with.__ 
    
__We would be looking at the number of rows and columns of the data along with what each column denotes and the data types.__ 
    
__We would also be noting various obvious issues/ anomalies with the data that needs to be fixed as a part of cleaning the data although data cleaning is not the mail goal of this section.__ </span>

In [92]:
import numpy as np
import pandas as pd

In [93]:
original_df = pd.read_csv(r"D:\Data Analysis\Datasets\Credit_card_transactions_India.csv")

In [94]:
working_df = original_df.copy(deep=True)
working_df

,index,City,Date,Card Type,Exp Type,Gender,Amount
0,0,"Delhi, India",29-Oct-14,Gold,Bills,F,82475
1,1,"Greater Mumbai, India",22-Aug-14,Platinum,Bills,F,32555
2,2,"Bengaluru, India",27-Aug-14,Silver,Bills,F,101738
3,3,"Greater Mumbai, India",12-Apr-14,Signature,Bills,F,123424
4,4,"Bengaluru, India",5-May-15,Gold,Bills,F,171574
...,...,...,...,...,...,...,...
26047,26047,"Kolkata, India",22-Jun-14,Silver,Travel,F,128191
26048,26048,"Pune, India",3-Aug-14,Signature,Travel,M,246316
26049,26049,"Hyderabad, India",16-Jan-15,Silver,Travel,M,265019
26050,26050,"Kanpur, India",14-Sep-14,Silver,Travel,M,88174
26051,26051,"Hyderabad, India",19-Oct-13,Signature,Bills,M,184410


- __There are 6 columns (excluding index) and 26k rows__ 
- __First things first, the index column provided in the file needs to be dropped.__ 
- __The city column has the format: "city name", India.  
    We can drop the comma and India, as it doesn't add any value to the analysis and just retain the actual city name.__ 
- __The dates don't seem to be in chronological order, so the dataframe has to be sorted with dates in ascending order.__


    
### <span style= "color:gray;"> Column_name: Description (expected data type ): </span>

*City: The city in which the transaction took place. (String)* 

*Date: The date of the transaction. (Date)*  

*Card Type: The type of credit card used for the transaction. (String)*  

*Exp Type: The type of expense associated with the transaction. (String)*  

*Gender: The gender of the cardholder. (String)*  

*Amount: The amount of the transaction. (Number)*

__Before we do any further analysis, let's correct the obvious issues__

###  <span style="color:red;">Let's start by dropping the in-built index column </span>

In [95]:
# Dropping in-built Index column
working_df = working_df.drop('index', axis=1)
working_df

                        City       Date  Card Type Exp Type Gender  Amount
0               Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2           Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4           Bengaluru, India   5-May-15       Gold    Bills      F  171574
...                      ...        ...        ...      ...    ...     ...
26047         Kolkata, India  22-Jun-14     Silver   Travel      F  128191
26048            Pune, India   3-Aug-14  Signature   Travel      M  246316
26049       Hyderabad, India  16-Jan-15     Silver   Travel      M  265019
26050          Kanpur, India  14-Sep-14     Silver   Travel      M   88174
26051       Hyderabad, India  19-Oct-13  Signature    Bills      M  184410

[26052 rows x 6 columns]

In [96]:
#Sorting chronologically
#working_df['Date'] = pd.to_datetime(working_df['Date'])
working_df = working_df.sort_values(by='Date', ascending=True)
working_df

                      City      Date  Card Type       Exp Type Gender  Amount
24582       Chennai, India  1-Apr-14   Platinum  Entertainment      F   93038
16742  Wadgaon Road, India  1-Apr-14       Gold           Food      M  274661
4305      Bengaluru, India  1-Apr-14   Platinum          Bills      F  174903
20368        Jaipur, India  1-Apr-14   Platinum  Entertainment      M  118570
15309         Nokha, India  1-Apr-14  Signature          Bills      M  163677
...                    ...       ...        ...            ...    ...     ...
12607     Bengaluru, India  9-Sep-14       Gold           Food      M  259100
3136          Delhi, India  9-Sep-14   Platinum           Food      F  217217
17742         Udupi, India  9-Sep-14       Gold  Entertainment      M  105855
7435          Delhi, India  9-Sep-14  Signature           Food      M   46182
15194  Rajagangapur, India  9-Sep-14  Signature           Food      M  165047

[26052 rows x 6 columns]

###  <span style="color:red;">The above result shows the importance of making sure the date column has the correct data type </span>  

Let's check the data types of these columns

In [97]:
working_df.dtypes

City         object
Date         object
Card Type    object
Exp Type     object
Gender       object
Amount        int64
dtype: object

 #### <span style="color:red;">  data type of "Date" column is object. </span>  
 
 ### <span style="color:red;"> Let's change it to datetime and see how the new sorting is</span>

In [98]:
# changing date column data type

working_df['Date'] = pd.to_datetime(working_df['Date'])
working_df.dtypes

City                 object
Date         datetime64[ns]
Card Type            object
Exp Type             object
Gender               object
Amount                int64
dtype: object

In [99]:
#Sorting chronologically after changing date column data type

working_df = working_df.sort_values(by='Date', ascending=True)
working_df

,City,Date,Card Type,Exp Type,Gender,Amount
72,"Delhi, India",2013-10-04,Signature,Bills,F,550782
7201,"Greater Mumbai, India",2013-10-04,Gold,Entertainment,M,201942
6931,"Bengaluru, India",2013-10-04,Gold,Fuel,F,236037
8645,"Bengaluru, India",2013-10-04,Silver,Bills,M,159769
23691,"Chennai, India",2013-10-04,Gold,Grocery,M,27511
...,...,...,...,...,...,...
7891,"Ahmedabad, India",2015-05-26,Platinum,Grocery,F,269998
24604,"Jaipur, India",2015-05-26,Silver,Fuel,F,292561
9980,"Delhi, India",2015-05-26,Platinum,Entertainment,F,200932
22648,"Lucknow, India",2015-05-26,Gold,Grocery,M,249011
14658,"Washim, India",2015-05-26,Signature,Fuel,F,223068

 ### <span style="color:red;">  but now the index is all jumbled, so let's reset it. </span> 
Note that on resetting, the current index would be added as a new column, hence we need to set drop=True for dropping the older, jumbled index

In [100]:
# Resetting index
working_df = working_df.reset_index(drop=True)
working_df

,City,Date,Card Type,Exp Type,Gender,Amount
0,"Delhi, India",2013-10-04,Signature,Bills,F,550782
1,"Greater Mumbai, India",2013-10-04,Gold,Entertainment,M,201942
2,"Bengaluru, India",2013-10-04,Gold,Fuel,F,236037
3,"Bengaluru, India",2013-10-04,Silver,Bills,M,159769
4,"Chennai, India",2013-10-04,Gold,Grocery,M,27511
...,...,...,...,...,...,...
26047,"Ahmedabad, India",2015-05-26,Platinum,Grocery,F,269998
26048,"Jaipur, India",2015-05-26,Silver,Fuel,F,292561
26049,"Delhi, India",2015-05-26,Platinum,Entertainment,F,200932
26050,"Lucknow, India",2015-05-26,Gold,Grocery,M,249011
26051,"Washim, India",2015-05-26,Signature,Fuel,F,223068

 ### <span style="color:red;"> Now let's split the City column. </span>

In [101]:
working_df[['City', 'Country']] = working_df['City'].str.split(',', expand=True)
working_df

,City,Date,Card Type,Exp Type,Gender,Amount,Country
0,Delhi,2013-10-04,Signature,Bills,F,550782,India
1,Greater Mumbai,2013-10-04,Gold,Entertainment,M,201942,India
2,Bengaluru,2013-10-04,Gold,Fuel,F,236037,India
3,Bengaluru,2013-10-04,Silver,Bills,M,159769,India
4,Chennai,2013-10-04,Gold,Grocery,M,27511,India
...,...,...,...,...,...,...,...
26047,Ahmedabad,2015-05-26,Platinum,Grocery,F,269998,India
26048,Jaipur,2015-05-26,Silver,Fuel,F,292561,India
26049,Delhi,2015-05-26,Platinum,Entertainment,F,200932,India
26050,Lucknow,2015-05-26,Gold,Grocery,M,249011,India
26051,Washim,2015-05-26,Signature,Fuel,F,223068,India

 ### <span style="color:red;"> We can remove the country column as it adds no value for analysis. </span>
 
 #### <span style="color:red;">But wait, are we sure it only contains India? </span> 
 
 Let's check the unique values in that column to confirm before dropping

In [102]:
# Checking the unique entries in "Country" column

working_df['Country'].unique()

array([' India'], dtype=object)

__Looks good as it only seems to contain India.__

### <span style="color:red;"> Let's drop "Country" column. </span>

In [103]:
# dropping country column

working_df = working_df.drop('Country', axis=1)
working_df

                 City       Date  Card Type       Exp Type Gender  Amount
0               Delhi 2013-10-04  Signature          Bills      F  550782
1      Greater Mumbai 2013-10-04       Gold  Entertainment      M  201942
2           Bengaluru 2013-10-04       Gold           Fuel      F  236037
3           Bengaluru 2013-10-04     Silver          Bills      M  159769
4             Chennai 2013-10-04       Gold        Grocery      M   27511
...               ...        ...        ...            ...    ...     ...
26047       Ahmedabad 2015-05-26   Platinum        Grocery      F  269998
26048          Jaipur 2015-05-26     Silver           Fuel      F  292561
26049           Delhi 2015-05-26   Platinum  Entertainment      F  200932
26050         Lucknow 2015-05-26       Gold        Grocery      M  249011
26051          Washim 2015-05-26  Signature           Fuel      F  223068

[26052 rows x 6 columns]

### Now we are ready for some more EDA

### <span style="color:red;"> Let's check how many unique cities are there. </span>

In [104]:
# Number of unique cities and their names

print('Number of unique cities: ', len(working_df['City'].unique()))

Number of unique cities:  986

In [105]:
print('Number of unique cities: \n', working_df['City'].unique())

Number of unique cities:
 ['Delhi' 'Greater Mumbai' 'Bengaluru' 'Chennai' 'Ahmedabad' 'Tanuku'
 'Hyderabad' 'Fatehpur Sikri' 'Siwan' 'Puttur' 'Terdal' 'Surat' 'Nowgong'
 'Bahadurgarh' 'Phalodi' 'Thane' 'Jaipur' 'Pune' 'Sultanganj' 'Kolkata'
 'Lakshmeshwar' 'Bheemunipatnam' 'Kanpur' 'Sawai Madhopur' 'Lucknow'
 'Soron' 'Merta City' 'Hansi' 'Ramdurg' 'Kadapa' 'Ramnagar' 'Ludhiana'
 'Lingsugur' 'Hindupur' 'Mangrol' 'Kharagpur' 'Utraula' 'Kendrapara'
 'Pilkhuwa' 'Tiruchirappalli' 'Rampur' 'Pavagada' 'Jhargram' 'Nashik'
 'Malegaon' 'Alwar' 'Tharad' 'Akola' 'Tumsar' 'Tiruvethipuram' 'Roorkee'
 'Jabalpur' 'Mhow Cantonment' 'Makrana' 'Sabalgarh' 'Satana'
 'Haldwani-cum-Kathgodam' 'Sillod' 'Jind' 'Kottayam' 'Nellore' 'Raisen'
 'Kancheepuram' 'Sibsagar' 'Talaja' 'Sathyamangalam' 'Jagdalpur'
 'Kendujhar' 'Sailu' 'Jorhat' 'Bhilai Nagar' 'Thangadh' 'Patan'
 'Yamunanagar' 'Gurgaon' 'Valsad' 'Risod' 'Wadi' 'Pratapgarh' 'Rewa'
 'Nehtaur' 'Maihar' 'Lakheri' 'Savarkundla' 'Adoor' 'Rawatsar' 'Baramula'
 'Udhagamandalam' 'Kothagudem' 'Chittoor' 'Modinagar' 'Kaithal' 'Salur'
 'Palghar' 'Nahan' 'Sundargarh' 'Kharar' 'Asansol' 'Dharmavaram' 'Supaul'
 'Maner' 'Tuljapur' 'Usilampatti' 'Raigarh' 'Tarakeswar' 'Muzaffarpur'
 'Sikandra Rao' 'Nasirabad' 'Mokokchung' 'Oddanchatram' 'Lunglei'
 'Sattenapalle' 'Rohtak' 'Yavatmal' 'Ujhani' 'Bhadrak' 'Shirpur-Warwade'
 'Yevla' 'Kagaznagar' 'Hardwar' 'Nidadavole' 'Tuni' 'Sagara' 'Nadiad'
 'Rajagangapur' 'Bhilwara' 'Singrauli' 'Pandua' 'Alipurduar' 'Jaggaiahpet'
 'Pipar City' 'Tindivanam' 'Salaya' 'Jamshedpur' 'Nautanwa' 'Paramakudi'
 'Shikarpur Bulandshahr' 'Kolar' 'Dibrugarh' 'Rajula' 'Rahuri'
 'Mira-Bhayandar' 'Davanagere' 'Pathanamthitta' 'Sadasivpet' 'Puliyankudi'
 'Palwal' 'Amreli' 'Pappinisseri' 'Valparai' 'Bikaner' 'Mohali'
 'Tiruvannamalai' 'Diphu' 'Sohna' 'Dhubri' 'Rabkavi Banhatti' 'Samastipur'
 'Siddipet' 'Pathri' 'Kakinada' 'Nawanshahr' 'Kalyan-Dombivali'
 'Raisinghnagar' 'Jammu' 'Ichalkaranji' 'Rudauli' 'Malavalli' 'Kapurthala'
 'Thiruvallur' 'Osmanabad' 'Unnao' 'Sangaria' 'Malappuram' 'Narasapuram'
 'Gurdaspur' 'Visakhapatnam' 'Habra' 'Khair' 'Adilabad' 'Mahasamund'
 'Jhansi' 'Bhuj' 'Sirhind Fatehgarh Sahib' 'Firozpur Cantt.' 'Suar'
 'Sagar' 'Mavoor' 'Nilanga' 'Shahabad Rampur' 'Neyyattinkara' 'Rosera'
 'Thrissur' 'Shivpuri' 'Pattukkottai' 'Taranagar' 'Udaipur' 'Rajampet'
 'Ramganj Mandi' 'Tiruppur' 'Nangal' 'Lakhisarai' 'Sanawad' 'Manjlegaon'
 'Sirsa' 'Surapura' 'Wardha' 'Kozhikode' 'Umarga' 'Sumerpur' 'Panruti'
 'Rampurhat' 'Guwahati' 'Koyilandy' 'Nawada' 'Lahar' 'Vikramasingapuram'
 'Madhugiri' 'Kunnamkulam' 'Shahjahanpur' 'Keshod' 'Revelganj' 'Firozabad'
 'Kayamkulam' 'Shivamogga' 'Tundla' 'Machilipatnam' 'Kavali'
 'Ramachandrapuram' 'Sattur' 'Baripada Town' 'Nagaon' 'Mudhol' 'Mandideep'
 'Ranavav' 'Rajpura' 'Manavadar' 'Sankari' 'Shrigonda' 'Tharamangalam'
 'Hapur' 'Kashipur' 'Deoghar' 'Meerut' 'Ponnur' 'Kadiri' 'Nawapur'
 'Taliparamba' 'Mandi' 'Musabani' 'Sugauli' 'Faridabad' 'Sainthia'
 'Rajgarh (Churu)' 'Patiala' 'Faridkot' 'Thiruvarur' 'Imphal'
 'Tilda Newra' 'Azamgarh' 'Tikamgarh' 'Port Blair' 'Parli' 'Noorpur'
 'Ranebennuru' 'Vijayawada' 'Sheopur' 'Periyasemur' 'Nawabganj' 'Etawah'
 'Gobindgarh' 'Udgir' 'Viramgam' 'Karjat' 'Narayanpet' 'Belagavi' 'Nagpur'
 'Pachora' 'Petlad' 'Tumkur' 'Raipur' 'Parvathipuram' 'Anantnag' 'Barpeta'
 'Sankarankoil' 'Pandharpur' 'Nadbai' 'Arwal' 'Lal Gopalganj Nindaura'
 'Sonipat' 'Sindhagi' 'Pilibanga' 'Upleta' 'Sidlaghatta' 'Warora'
 'Narsipatnam' 'Palakkad' 'Shahpura' 'Puranpur' 'Sasaram' 'Solan' 'Batala'
 'Zunheboto' 'Mancherial' 'Mandsaur' 'Samana' 'Bathinda'
 'Raghogarh-Vijaypur' 'Bhagalpur' 'Sambhal' 'Ranipet' 'Manmad' 'Vatakara'
 'Ladnu' 'Farooqnagar' 'Naila Janjgir' 'Seoni-Malwa'
 'Medininagar (Daltonganj)' 'Chilakaluripet' 'Mansa' 'Amalapuram'
 'Lachhmangarh' 'Namakkal' 'Morena' 'Nainital' 'Rajgir' 'Sidhi' 'Bhongir'
 'Sangli' 'Agartala' 'Chirkunda' 'Mathura' 'Nabha' 'Sunam' 'Manuguru'
 'Suratgarh' 'Loni' 'Tirukalukundram' 'Rishikesh' 'Suryapet' 'Thanjavur'
 'Pen' 'Mangaluru' 'Sironj' 'Sarangpur' 'Aligarh' 'Murtijapur'
 'Chikkamagaluru' 'Barbil' 'Adityapur' 'Sidhpur' 'Moga' 'Maddur'
 'Karimnagar' 'Udumalaipettai' 'Lanka' 'Wokha' 'Pondicherry' 'Palacole'
 'Ambikapur' 'Ranchi' 'Mundi' 'Padrauna' 'Raayachuru' 'Phaltan' 'Bhopal'
 'Karur' 'Malerkotla' 'Radhanpur' 'Erode' 'Shirur' 'Jatani' 'Sojat'
 'Narwana' 'Pattamundai' 'Phagwara' 'Neem-Ka-Thana' 'Rajpipla' 'Marmagao'
 'Arambagh' 'Hazaribag' 'Tandur' 'Allahabad' 'Srinagar' 'Ashok Nagar'
 'Udupi' 'Bhiwandi' 'Palitana' 'Saharanpur' 'Nabadwip' 'Shoranur'
 'Madhupur' 'Koratla' 'Ramgarh' 'Madhepura' 'Naidupet' 'Sanduru'
 'Sangamner' 'Mungeli' 'Palladam' 'Amravati' 'Sholingur' 'Umarkhed'
 'Chittur-Thathamangalam' 'Patratu' 'Udhampur' 'Vikarabad' 'Bellampalle'
 'Murwara (Katni)' 'Nirmal' 'Malkapur' 'Nagaur' 'Yemmiganur' 'Mulbagal'
 'Paschim Punropara' 'Sitamarhi' 'Sunabeda' 'Mandi Dabwali' 'Tirukkoyilur'
 'Taki' 'Markapur' 'Dhoraji' 'Kollam' 'Dehradun' 'Sikandrabad' 'Tasgaon'
 'Hisar' 'Charkhi Dadri' 'Nimbahera' 'Madhubani' 'Ponnani' 'Rajakhera'
 'Navi Mumbai' 'Lalsot' 'Malaj Khand' 'Gaya' 'Tura' 'Jalpaiguri' 'Zira'
 'Pulgaon' 'Raver' 'Nilambur' 'Perambalur' 'Salem' 'Bharuch' 'Nagercoil'
 'Miryalaguda' 'Masaurhi' 'Sedam' 'Talcher' 'Vadalur' 'Medak' 'Nandurbar'
 'Anantapur' 'Narsinghgarh' 'Muvattupuzha' 'Byasanagar' 'Tohana'
 'Ramanathapuram' 'Kalimpong' 'Mavelikkara' 'Ujjain' 'Sardarshahar'
 'Bagaha' 'Sambalpur' 'Tilhar' 'Purulia' 'Surandai' 'Chirala'
 'Kodungallur' 'Godhra' 'Silchar' 'Sivakasi' 'Palia Kalan' 'Wadgaon Road'
 'Vrindavan' 'Navsari' 'Tiruchendur' 'Shamsabad Agra' 'Rameshwaram'
 'Jalandhar Cantt.' 'Losal' 'Achalpur' 'Mankachar' 'Thoubal' 'Vyara' 'Lar'
 'Bhubaneswar' 'Amritsar' 'Vijayapura' 'Makhdumpur' 'Varanasi' 'Manvi'
 'Palasa Kasibugga' 'Udaipurwati' 'Bharatpur' 'Madikeri' 'Shikaripur'
 'Bhavnagar' 'Tiruvuru' 'Moradabad' 'Gadwal' 'Ottappalam' 'Nuzvid'
 'Srivilliputhur' 'Vellakoil' 'Afzalpur' 'Palani' 'Raiganj' 'Pandhurna'
 'Tiptur' 'Zaidpur' 'Khanna' 'Panvel' 'Mandvi' 'Bhabua' 'Nanded-Waghala'
 'Raurkela' 'Karimganj' 'Uravakonda' 'Ranaghat' 'Raxaul Bazar' 'Dhanbad'
 'Sirohi' 'Pilani' 'Thirumangalam' 'Dumka' 'Sitapur' 'Ahmednagar'
 'Nepanagar' 'Attingal' 'Puri' 'Wadhwan' 'Unjha' 'Varkala' 'Uthamapalayam'
 'Shirdi' 'Gokak' 'Bhadrachalam' 'Cherthala' 'Wanaparthy' 'Malur'
 'Pudukkottai' 'Nagari' 'Ambejogai' 'Jammalamadugu' 'Modasa'
 'Parlakhemundi' 'Mahalingapura' 'Savanur' 'Umbergaon' 'Goalpara'
 'Aruppukkottai' 'Ankleshwar' 'Pasan' 'Shenkottai' 'Hajipur' 'Ramanagaram'
 'Arsikere' 'Nabarangapur' 'Mehkar' 'Begusarai' 'Margao' 'Tanda' 'Muktsar'
 'Dhule' 'Chirmiri' 'Arakkonam' 'Mainaguri' 'Lalitpur' 'Pusad' 'Kadi'
 'Phulabani' 'Yerraguntla' 'Vedaranyam' 'Anjangaon' 'Muddebihal'
 'Jehanabad' 'Hoshiarpur' 'Darjiling' 'Paithan' 'Morshi' 'Sonepur'
 'Jamnagar' 'Siana' 'Madanapalle' 'Panchkula' 'Sehore' 'Umreth' 'Jamui'
 'Naharlagun' 'Adoni' 'Firozpur' 'Washim' 'Latur' 'Aizawl' 'Chalakudy'
 'Uchgaon' 'Rewari' 'Rajnandgaon' 'Nagina' 'Ozar' 'Nanjikottai'
 'Pithoragarh' 'Karwar' 'Vapi' 'Chaibasa' 'Gopalganj' 'Sirkali'
 'Thakurdwara' 'Akot' 'Vijainagar Ajmer' 'Sherkot' 'Peringathur'
 'Pilibhit' 'Nagda' 'Uran' 'Balurghat' 'Jagraon' 'Porsa' 'Darbhanga'
 'Tenkasi' 'Jalandhar' 'Phusro' 'Sujangarh' 'Shamli' 'Mahesana' 'Sardhana'
 'Medinipur' 'Manglaur' 'New Delhi' 'Seoni' 'Gumia' 'Najibabad' 'Sircilla'
 'Simdega' 'Rajsamand' 'Narasaraopet' 'Anakapalle' 'Padra' 'Paravoor'
 'Shikohabad' 'Baleshwar Town' 'Shahdol' 'Nellikuppam' 'Jodhpur' 'Partur'
 'Malpura' 'Thana Bhawan' 'Jamalpur' 'Ongole' 'Talegaon Dabhade'
 'Kasaragod' 'Aurangabad' 'Mahbubnagar' 'Shahabad Hardoi' 'Warisaliganj'
 'Dhamtari' 'Balaghat' 'Dhenkanal' 'Palwancha' 'Nanpara' 'Perinthalmanna'
 'Chandausi' 'Rajkot' 'Eluru' 'Karaikal' 'Tadepalligudem' 'Kohima'
 'Chatra' 'Macherla' 'Tadpatri' 'Bilaspur' 'Porbandar' 'Shahabad' 'Pihani'
 'Dehri-on-Sone' 'Tamluk' 'Rajapalayam' 'Mahnar Bazar' 'Sikar' 'Sanand'
 'Bhatapara' 'Mangrulpir' 'Rudrapur' 'Gangarampur' 'Repalle' 'Bhainsa'
 'Pakaur' 'Vaijapur' 'Bokaro Steel City' 'Vidisha' 'Mihijam' 'Lonavla'
 'Soro' 'Dhuri' 'Pathankot' 'Srikalahasti' 'Sinnar' 'Laharpur' 'Satna'
 'Tenali' 'Mandla' 'Changanassery' 'Pernampattu' 'Kannur' 'Kot Kapura'
 'Mattannur' 'Hubli-Dharwad' 'Punch' 'Dalli-Rajhara' 'Sandila'
 'Sri Madhopur' 'Wani' 'Purnia' 'Memari' 'Shajapur' 'Mokameh' 'Nokha'
 'Tarikere' 'Sendhwa' 'Yellandu' 'Kovvur' 'Naugachhia' 'Ranibennur'
 'Madurai' 'Panaji' 'Naihati' 'Kalpi' 'Theni Allinagaram' 'Ratnagiri'
 'Nohar' 'Vadodara' 'Alappuzha' 'Sadabad' 'Zamania' 'Jagtial' 'Korba'
 'Seohara' 'Kurnool' 'Mahuva' 'Sindhnur' 'Kandukur' 'Purna' 'Nathdwara'
 'Tirunelveli' 'Mapusa' 'Sankeshwara' 'Visnagar' 'Umred' 'Bongaigaon City'
 'Neyveli (TS)' 'Talode' 'Rae Bareli' 'Dharmanagar' 'Barnala' 'Pithampur'
 'Shegaon' 'Robertsganj' 'Venkatagiri' 'Peddapuram' 'Ratangarh'
 'Vadakkuvalliyur' 'Pollachi' 'Nakodar' 'Vadipatti' 'Athni' 'Chandigarh'
 'Bhimavaram' 'Buxar' 'Tezpur' 'Hardoi ' 'Pedana' 'Ajmer' 'Sihor'
 'Pinjore' 'Talikota' 'Siruguppa' 'Panna' 'Shahbad' 'Parbhani' 'Lumding'
 'Sihora' 'Brahmapur' 'Itarsi' 'Saunda' 'Mussoorie' 'Indore' 'Panipat'
 'Bahraich' 'Yadgir' 'Rupnagar' 'Lakhimpur' 'Wai' 'Rajahmundry' 'Zirakpur'
 'Rayachoti' 'Tiruchengode' 'Munger' 'Arrah' 'Nelamangala' 'Bhiwani'
 'Kapadvanj' 'Rasra' 'Pali' 'Mysore' 'Perumbavoor' 'Vasai-Virar'
 'Shrirampur' 'Orai' 'Gwalior' 'Manwath' 'Shujalpur' 'Deesa' 'Warangal'
 'Sadulpur' 'Dumraon' 'Malout' 'Kishanganj' 'Sultanpur' 'Sangole'
 'Ballari' 'Naugawan Sadat' 'Ladwa' 'Virudhachalam' 'Sivaganga' 'Bankura'
 'Bobbili' 'Dimapur' 'Palanpur' 'Thuraiyur' 'Cuttack' 'Jharsuguda'
 'Pandharkaoda' 'English Bazar' 'Mandapeta' 'Saharsa' 'Jangaon'
 'Sangareddy' 'Khammam' 'Nanjangud' 'Wankaner' 'Shimla' 'Tonk' 'Mahe'
 'Gooty' 'Saundatti-Yellamma' 'Guntur' 'Lunawada' 'Robertson Pet'
 'Virudhunagar' 'Pehowa' 'Baharampur' 'Sangrur' 'Sagwara' 'Araria'
 'Fatehabad' 'Nandyal' 'Shahade' 'Neemuch' 'Siliguri' 'Rawatbhata' 'Gudur'
 'Srikakulam' 'Narnaul' 'Fazilka' 'Vinukonda' 'Punganur' 'Anand'
 'Sheikhpura' 'Noida' 'Periyakulam' 'Gudivada' 'Rath' 'Arvi' 'Balangir'
 'Giridih' 'Nagarkurnool' 'Kathua' 'Durg' 'Tarn Taran' 'Manendragarh'
 'Nedumangad' 'Pithapuram' 'Gobichettipalayam' 'Tiruttani' 'Satara'
 'Rasipuram' 'Amalner' 'Sherghati' 'Ramngarh' 'Thiruvananthapuram'
 'Amroha' 'Motihari' 'Sahibganj' 'Sopore' 'Santipur' 'Titlagarh' 'Karnal'
 'Vizianagaram' 'Jhumri Tilaiya' 'Limbdi' 'Patna' 'Murshidabad'
 'Bhawanipatna' 'Tekkalakote' 'Kochi' 'Bodhan' 'Thanesar' 'Renukoot'
 'Forbesganj' 'Sirsaganj' 'Sira' 'Ramagundam' 'Vandavasi' 'Kanhangad'
 'Sasvad' 'Thiruvalla' 'Nagapattinam' 'Ganjbasoda' 'Mahidpur' 'Nargund'
 'Vaniyambadi' 'Mudalagi' 'Veraval' 'Sirsi' 'Savner' 'Pipariya'
 'Mahemdabad' 'Sahaswan' 'Khambhat' 'Tinsukia' 'Yanam' 'Samalkot'
 'Kyathampalle' 'Shillong' 'Solapur' 'Rayadurg' 'Nizamabad' 'Proddatur'
 'Nalbari' 'Nongstoin' 'Umaria' 'Bargarh' 'Shahpur' 'Vellore' 'Kamareddy'
 'Gohana' 'Paradip' 'Anjar' 'Rayagada' 'Nandivaram-Guduvancheri'
 'Guntakal' 'Sonamukhi' 'Katihar' 'Una' 'Alirajpur' 'Vadnagar' 'Nandura'
 'Yawal' 'Narkatiaganj' 'Uran Islampur' 'Morvi' 'North Lakhimpur' 'Mandya'
 'Sullurpeta' 'Mandamarri' 'Vita' 'Patti' 'Tirupati' 'Agra' 'Ratlam'
 'Safidon' 'Bapatla' 'Tuensang' 'Suri' 'Tirupathur' 'Punalur'
 'Raghunathganj' 'Hugli-Chinsurah' 'Sarni' 'Rampura Phul' 'Thodupuzha'
 'Viluppuram' 'Bettiah' 'Tirur']