# <span style="color: purple;"> Credit Card Transaction Analysis - PART 1: Credit  card company POV </span>

### *<span style= "color:gray;"> Thought process, Insights and Recommendations</span>*

### *Context* :  
 __Bank "ABC" had inaugurated offering their credit card facility on 1st Oct, 2013.__  
__They started collecting data on the credit card transaction details since then.__  
    
__Now, after nearly two years, they have a stakeholder meeting on June 1st 2015 to assess the situation regarding the growth in the credit card section.__  

__The data till now (latest data being 26th May 2015) needs to be analysed and <span style="color:green;">insights and recommendations needs to be presented to the stakeholders during their meeting so that they can take data-driven decision on how to proceed.__</span>

### Source of data:  
*Credit_card_transactions_India.csv*

### *<span style= "color:gray;"> STEP 1: Getting to know the data</span>*

<span style="font-size:14px;"> __Let's start with getting the look and feel of the data that we need to work with.__ 
    
__We would be looking at the number of rows and columns of the data along with what each column denotes and the data types.__ 
    
__We would also be noting various obvious issues/ anomalies with the data that needs to be fixed as a part of cleaning the data although data cleaning is not the mail goal of this section.__ </span>

In [4]:
import numpy as np
import pandas as pd

In [5]:
original_df = pd.read_csv(r"D:\Data Analysis\Datasets\Credit_card_transactions_India.csv")

In [6]:
working_df = original_df.copy(deep=True)
working_df

,index,City,Date,Card Type,Exp Type,Gender,Amount
0,0,"Delhi, India",29-Oct-14,Gold,Bills,F,82475
1,1,"Greater Mumbai, India",22-Aug-14,Platinum,Bills,F,32555
2,2,"Bengaluru, India",27-Aug-14,Silver,Bills,F,101738
3,3,"Greater Mumbai, India",12-Apr-14,Signature,Bills,F,123424
4,4,"Bengaluru, India",5-May-15,Gold,Bills,F,171574
...,...,...,...,...,...,...,...
26047,26047,"Kolkata, India",22-Jun-14,Silver,Travel,F,128191
26048,26048,"Pune, India",3-Aug-14,Signature,Travel,M,246316
26049,26049,"Hyderabad, India",16-Jan-15,Silver,Travel,M,265019
26050,26050,"Kanpur, India",14-Sep-14,Silver,Travel,M,88174
26051,26051,"Hyderabad, India",19-Oct-13,Signature,Bills,M,184410


- __There are 6 columns (excluding index) and 26k rows__ 
- __First things first, the index column provided in the file needs to be dropped.__ 
- __The city column has the format: "city name", India.  
    We can drop the comma and India, as it doesn't add any value to the analysis and just retain the actual city name.__ 
- __The dates don't seem to be in chronological order, so the dataframe has to be sorted with dates in ascending order.__